<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<script>
    // use api here

</script>
<body>
    <!-- Test connect  -->
    <h1>Welcome to this pages </h1>
</body>
</html>